body {
    font-family: Arial, Helvetica, sans-serif;
    --element-background: rgb(218, 218, 218);
    --app-background: rgba(27, 34, 36, 1);
    --project: rgba(38, 99, 25);
    --resource: rgb(25, 79, 99);
    --selected: rgb(0,255,0,0.2);
    --focused: 216, 157, 40;
    background: var(--app-background);
    overflow: auto;
    user-select: none;
    padding: 0px;
    -webkit-app-region: drag;
}
#header {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
    height: 25px;
    text-align: center;
    background: var(--app-background);
}
#header > *{
  font-size: 20px;
  padding: 5px;
  border: none;
  background: none;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  -webkit-app-region: no-drag;
  background-color: var(--element-background);
}
#header > #newPanelBtn {
  float: right;
}
#header button:hover{
  background: rgba(255,255,255,0.5)
}
#save-state-indicator {
  width: 20px;
  height:23px;
  background: gray;
  float: left;
  cursor: default;
}
#save-state-indicator.save-saved {
  background: green;
}
#save-state-indicator.save-unsaved {
  background: yellow;
}
#save-state-indicator.save-error {
  background: red;
}
#main {
  display: flex;
}
h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}
h2 {
  font-size: 16px;
  color: rgb(80,80,80);
  border-top: solid 1px var(--app-background);
  margin: 10px -5px;
  padding: 0px 5px;
}
.panel {
  flex: 1;
  height: fit-content;
  min-width: 200px;
  background: var(--element-background);
  padding: 5px;
  margin: 5px;
}
.todo-entry {
  position: relative;
    padding-top: 6px;
    padding-left: 10px;
    margin-left: 20px;
    border-left: solid 1px gray;
}
.todo-entry:focus {
  outline: dashed 2px rgba(var(--focused),1);
}
.todo-entry:hover {
  background: rgba(255,255,255,0.3)
}
.todo-entry > span {
  margin-right: 5px;
}
.todo-entry:hover  * {
  opacity: 1 !important;
}
.todo-entry > .prio {
    display: inline-block;
    min-width: 30px;
    margin-left: -30px;
    margin-right: 0px;
}
.todo-entry > .project:before {
    content: " +";
    font-size: 8px;
}
.todo-entry > .project {
    color: var(--project);
    font-size: 14px;
    opacity: 0.5;
}
.todo-entry > .resource:before {
    content: " @";
    font-size: 8px;
}
.todo-entry > .resource {
  color: var(--resource);
    font-size: 14px;
    opacity: 0.5;
}
.todo-entry > .property {
  display: inline-block;
    background: rgba(0,0,0,0.1);
    padding: 0px 2px;
    color: rgba(0,0,0,1);
    opacity: 0.5;
    font-size: 14px;
}
.todo-entry > .property > .name {
    color: rgba(0,0,0);
    opacity: 0.5;
    font-size: 11px;
    padding-right: 6px;
}
.todo-entry .check-button {
  position: absolute;
  opacity: 0;
  width: 25px;
  height: 100%;
  left: -26px;
  text-align: center;
  padding-top: 4px;
  font-weight: bold;
  top: 0px;
  background: var(--element-background);
  color: rgb(0,0,0,0.2);
}
.todo-entry .check-button:hover {
  color: green;
}
.todo-entry:hover .check-button{
  opacity: 1;
  display: block;
  visibility:visible;

}
.done-true {
  text-decoration: line-through;
  color: gray;
}

.todo-entry.selected {
  background: var(--selected);
}

.hide-properties .property {
  display: none;
}
.hide-projects .project {
  display: none;
}
.hide-resources .resource{
  display: none;
}
.hide-done .done-true {
  display: none;
}
.editable-header {
  min-height: 30px;
  user-select: none;
}

.editable-header input {
  font-size: 20px;
  width: 100%;
  background: rgba(0,0,0,0);
  border: none;
  font-style: italic;
}
.flex-field {
  display: flex;
}
.flex-field .grow {
  flex-grow: 1;
}

.new-entry-field {
  background: gray;
  color: lightgray;
  padding: 5px;
  margin: 0px -5px;
}
.new-entry-field input {
  min-width: 0px;
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  font-style: italic;
  border-bottom: solid 1px;
  margin-left: 4px;
}
.file-input > span {
  background: white;
  padding: 2px 5px;
}
.file-input .dirs {
  color: rgba(0,0,0,0.4);
  padding-right: 4px;
}
.file-input > button {
  background: gray url("icons/folder.svg") no-repeat center;
  background-size: 16px;
  border: none;
  width: 30px;
}
.file-input > button:hover {
  background-color: rgb(181, 181, 181)
}
.file-input > .placeholder {
  display: none;
}
.file-input.empty > .placeholder {
  display: block;
  color: gray;
}
.file-input.empty > .path {
  display: none;
}
.show-hide-button {
  height: 28px;
  width: 27px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.show-hide-button:before {
  content: "-"
}
.collapsed .show-hide-button:before {
  content: "+"
}
.panel-header {
  display: flex;
  margin-bottom: 5px;
}
.panel-header > .editable-header {
  flex: 1;
}
.panel-header > h1,
.panel-header > .editable-header {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.collapsed {
  max-width: 27px;
  min-width: 27px;
  overflow: hidden;
}
.collapsed > * {
  display: none;
}
.collapsed > .panel-header{
  display: block;
}
.collapsed h1,
.collapsed .editable-header {
  display: block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 0;
  margin-top: 5px;
}

